.DS_Store
usaxs.jpg
stepusaxs.jpg
saxs.jpg
waxs.jpg
__pycache__
*.pyc
matilda-manage.log
matilda-manage.pid
matilda.log
matilda.log.1
matilda/matildaIgor.py
.loglogin
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.edit.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Matilda.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
